# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/hamilton/back.isellcomics.ca"
PassengerBaseURI "/"
PassengerNodejs "/home/hamilton/nodevenv/back.isellcomics.ca/18/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv API_BASE https://back.isellcomics.ca
SetEnv FRONTEND_URL https://isellcomics.ca
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END